xmp-file-tests/bug20703.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	          xmlns:sv="http://www.sentivision.com/wsdl/external-api/" 
	          xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		  name="external-api" 
		  targetNamespace="http://www.sentivision.com/wsdl/external-api/">

<wsdl:types>
<xsd:complexType name="multi_sale_params">
    <xsd:all>
     <xsd:element name="payment_method">
      <xsd:complexType>
       <xsd:choice>
        <xsd:element name="card_data">
         <xsd:complexType>
          <xsd:all>
           <xsd:element name="card_number">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="13" />
              <xsd:maxLength
               value="19" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element name="card_code">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="3" />
              <xsd:maxLength
               value="4" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="expiration_month">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:length value="2" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="expiration_year">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:length value="4" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="issue_number"
            minOccurs="0"
            maxOccurs="1">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="1" />
              <xsd:maxLength
               value="3" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element name="name_on_card">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="2" />
              <xsd:maxLength
               value="50" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="secure3d"
            minOccurs="0"
            maxOccurs="1">
            <xsd:complexType>
             <xsd:all>
              <xsd:element
               name="id_secure3d_auth"
               type="xsd:unsignedLong" />
             </xsd:all>
            </xsd:complexType>
           </xsd:element>
          </xsd:all>
         </xsd:complexType>
        </xsd:element>
        <xsd:element name="account_data">
         <xsd:complexType>
          <xsd:all>
           <xsd:element
            name="account_country">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="2" />
              <xsd:maxLength
               value="2" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="bank_code"
            minOccurs="0"
            maxOccurs="1">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="5" />
              <xsd:maxLength
               value="8" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="account_number">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="1" />
              <xsd:maxLength
               value="11" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="account_holder">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="2" />
              <xsd:maxLength
               value="30" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
          </xsd:all>
         </xsd:complexType>
        </xsd:element>
       </xsd:choice>
      </xsd:complexType>
     </xsd:element>
     <xsd:element
      name="capture_later"
      type="xsd:boolean"
      minOccurs="0"
      maxOccurs="1" />
     <xsd:element
      name="fraud_check_on"
      type="xsd:boolean"
      minOccurs="0"
      maxOccurs="1" />
     <xsd:element
      name="avs_check_level"
      type="xsd:nonNegativeInteger"
      minOccurs="0"
      maxOccurs="1" />
     <xsd:element name="customer">
      <xsd:complexType>
       <xsd:all>
        <xsd:element
         name="name"
         minOccurs="0">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:minLength value="2" />
           <xsd:maxLength value="50" />
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:element>
        <xsd:element name="email">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:minLength value="6" />
           <xsd:maxLength value="80" />
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ip">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:length value="15" />
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:element>
        <xsd:element name="address">
         <xsd:complexType>
          <xsd:all>
           <xsd:element name="street_house">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="2" />
              <xsd:maxLength
               value="46" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element name="city">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="2" />
              <xsd:maxLength
               value="40" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element
            name="state"
            minOccurs="0">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="2" />
              <xsd:maxLength
               value="40" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element name="zip">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:minLength
               value="1" />
              <xsd:maxLength
               value="9" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
           <xsd:element name="country_code">
            <xsd:simpleType>
             <xsd:restriction
              base="xsd:string">
              <xsd:length value="2" />
             </xsd:restriction>
            </xsd:simpleType>
           </xsd:element>
          </xsd:all>
         </xsd:complexType>
        </xsd:element>
       </xsd:all>
      </xsd:complexType>
     </xsd:element>
     <xsd:element name="amount">
      <xsd:simpleType>
       <xsd:restriction base="xsd:decimal">
        <xsd:fractionDigits value="2" />
        <xsd:totalDigits value="12" />
        <xsd:minExclusive value="0" />
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="currency_code">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:length value="3" />
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element
      name="processing_date"
      minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10" />
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>     
     <xsd:element name="product">
      <xsd:complexType>
       <xsd:choice>
        <xsd:element
         name="description"
         minOccurs="0">
         <xsd:simpleType>
          <xsd:restriction base="xsd:string">
           <xsd:maxLength value="200" />
          </xsd:restriction>
         </xsd:simpleType>
        </xsd:element>
       </xsd:choice>
      </xsd:complexType>
     </xsd:element>
    </xsd:all>
   </xsd:complexType>
</wsdl:types>
</wsdl:definitions>